Table	Create Table
stock_movement	CREATE TABLE `stock_movement` (\n  `movement_id` int NOT NULL AUTO_INCREMENT,\n  `proposal_code` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `issue_code` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,\n  `for_store_id` int NOT NULL,\n  `from_store_id` int NOT NULL,\n  `for_warehouse` int DEFAULT NULL,\n  `from_warehouse` int DEFAULT NULL,\n  `proposal_datetime` date NOT NULL,\n  `proposal_by` int NOT NULL,\n  `issue_datetime` date NOT NULL,\n  `issue_by` int NOT NULL,\n  `proposal_remarks` varchar(250) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,\n  `issue_remarks` varchar(250) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,\n  `receive_by` int NOT NULL,\n  `receive_datetime` date NOT NULL,\n  `receive_remarks` varchar(250) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,\n  `is_approved` tinyint(1) NOT NULL DEFAULT '0',\n  `is_proposed` tinyint(1) DEFAULT NULL,\n  `is_issued` tinyint(1) DEFAULT NULL,\n  `is_received` tinyint(1) DEFAULT NULL,\n  PRIMARY KEY (`movement_id`),\n  UNIQUE KEY `proposal_code_unique` (`proposal_code`),\n  UNIQUE KEY `issue_code_unique` (`issue_code`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci
