Table	Create Table
product	CREATE TABLE `product` (\n  `product_id` bigint NOT NULL AUTO_INCREMENT,\n  `product_code` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `product_name` varchar(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `category` varchar(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `brand` varchar(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `unit` varchar(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `model` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `product_details` varchar(250) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `purchase_price` float NOT NULL DEFAULT '0',\n  `minimum_price` float NOT NULL DEFAULT '0',\n  `retail_price` float NOT NULL DEFAULT '0',\n  `block_price` float NOT NULL DEFAULT '0',\n  `isactive` tinyint(1) NOT NULL,\n  `createby` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `createdate` datetime NOT NULL,\n  `updateby` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,\n  `updatedate` datetime NOT NULL,\n  PRIMARY KEY (`product_id`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci
